---
import Layout from "../../layouts/Layout.astro";
import Album from "../../components/Album/Album";

const { id } = Astro.params;

import type { Album as AlbumSpotify } from "spotify-types";
import type { Album as AlbumAstro } from "../../types";

import { getAlbum } from "../../api/spotify";

let album: AlbumAstro;

if (!id) return Astro.redirect("/404");

const data: AlbumSpotify = await getAlbum(id);

album = {
  id: data.id,
  name: data.name,
  artist: data.artists[0].name,
  image_url: data.images[0].url,
  year: data.release_date,
  url: data.external_urls.spotify,
};
---

<Layout title={`${album.name}`}>
  <main>
    <div
      class="container mx-auto max-w-screen-lg px-6 lg:px-0 flex flex-col items-start lg:items-end lg:flex-row pt-8 pb-12 overflow-hidden"
    >
      <Album id={album.id} name={album.name} image_url={album.image_url} />
      <div class="flex-1 flex flex-col justify-end pt-8">
        <h1 class="text-5xl font-bold text-black mb-3">
          {album.name}
        </h1>
        <p class="mb-2 text-3xl">{album.artist}</p>
        <p class="text-lg">{album.year}</p>
      </div>
    </div>
    <div class="container mx-auto max-w-screen-lg mb-10">
      <!-- Tracklist -->
    </div>
  </main>
</Layout>
