---
type Props = {
  id: string;
  name: string;
  artist: string;
  image_url: string;
};

const { id, name, artist, image_url } = Astro.props;
---

<div class="flex flex-col group">
  <a href={`/album/${id}`}>
    <div
      class="hover:shadow-md relative transition-shadow"
      transition:name={`album-${id}`}
    >
      <img
        class="rounded-md relative z-10"
        src={image_url}
        alt={name}
        width="400"
        height="400"
      />
      <img
        src="/vynil.webp"
        width="400"
        height="400"
        transition:name={`vinyl-${id}`}
        class="absolute top-0 opacity-0"
      />
    </div>
    <p class="pt-4 font-semibold text-black group-hover:text-pink-500">
      {name}
    </p>
    <p class="pt-1 text-gray-700">{artist}</p>
  </a>
</div>
